---
import "../../styles/global.css";
import Navigation from "../../components/Navigation.astro";
export async function getStaticPaths() {
    const allPosts = Object.values(import.meta.glob('../documents/posts/*.md', { eager: true }));
    const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
    return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags.includes(tag));
    return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---
<style>
    .icon {
        vertical-align: middle;
    }
    .lastUpdatedDate {
        font-size:0.6em;
    }
    ul {
        list-style-type: none;
    }
    .goAllTags {
        font-size: 0.4em;
        color: rgb(129, 78, 71);
        vertical-align: bottom;
    }
    .icon {
        vertical-align: middle;
        font-size: 0.9em;
        margin-right: 2px;
    }
    .tag {
        box-shadow: 1px 1px 2px #dedcdc;
        background: #fbf9f6;
        /* margin-right: 8px; */
        vertical-align: middle;
        padding: 5px;
        font-size: 0.8em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
</style>
<html lang="jp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <title>{tag}</title>
    </head>
    <body>
        <Navigation/>
        <span class="goAllTags">
            <a href=`${baseUrl}/tags`>タグ一覧へ</a>
        </span>
        <p>タグ
            <span class="tag"><span class="material-icons icon">local_offer</span><a href={`${baseUrl}/tags/${tag}`}>{tag}</a></span>
            が付いた記事</p>
        <ul>
            <!-- {posts.map((post: any) => <DisplayPost url={post.url} title={post.frontmatter.title} lastUpdatedDate={post.frontmatter.lastUpdatedDate}/>)} -->
            {posts.map((post:any) => (
                <li>
                    <span class="material-icons icon">article</span>
                    <a class="docTitle" href={post.url}>{post.frontmatter.title}</a>
                    <span class="lastUpdatedDate">最終更新日:{post.frontmatter.lastUpdatedDate.slice(0,10)}</span>
                </li>
                <p class="description">{post.frontmatter.description}</p>
            ))}
        </ul>
    </body>
</html>