---
const {title,filesData} = Astro.props;
import PageTitle from "../components/PageTitle.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
// import seminarNotesData from "../data/seminarNotes.json";
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <title>{title}</title>
    </head>
    <body>
        <PageTitle title={title}/>
        <ul>
            {
                filesData.map((data:any) => (
                    <li>{data.category}</li>
                    <ul>
                        {data.files.map((file:any) => (
                            <li><a class="docTitle" href={file.link}>{file.title}</a></li>
                            <p class="description">{file.description}</p>
                        ))}
                    </ul>
                ))
            }
        </ul>
    </body>
    <Navigation/>
</html>