---
const {title,filesData} = Astro.props;
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
// import seminarNotesData from "../data/seminarNotes.json";
---
<style>
    .page_title {
        font-size: 1.3em;
        color : #3e3936;
        padding: 8px 0px 8px 8px;
        margin-left: 0px;
        border-left:solid 4px #5e6369 ;
        border-bottom:solid 4px #d7d5d3 ;
        background: #f7f6f2;
    }
    .jpTitle {
        color: #9d4a4a;
        border-bottom: dashed 1px #9d4a4a;
        text-shadow: rgb(178, 174, 174) 1px 0 2px;
        word-break: break-all;
    }
    .enTitle {
        color: #9d4a4a;
        font-family: 'Courier',sans-serif;
        border-bottom: dashed 1px #9d4a4a;
        text-shadow: rgb(175, 168, 168) 1px 0 2px;
        word-break: break-all;
    }
</style>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <title>{title}</title>
    </head>
    <body>
        <Navigation/>
        <div class="page_title">
            <span>{title}</span>
        </div>
        <ul>
            {
                filesData.map((data:any) => (
                    <li>{data.category}</li>
                    <ul>
                        {data.files.map((file:any) => (
                            <li><a class={(file.titleLang == "en") ? "enTitle" : "jpTitle"} href={file.link}  target="_blank" rel="noopener noreferrer">{file.title}</a></li>
                            <p class="description">{file.description}</p>
                        ))}
                    </ul>
                ))
            }
        </ul>
    </body>
</html>